@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.cdnfonts.com/css/garamond');

.footerClass {
    background-color: #1e1d1f;
}
body {
    background: url("../../public/images/EldenBackground2.jpg") no-repeat fixed;
    font-family: 'Garamond', sans-serif;
    width:100vw;
    height:100vh;
    color:white;
}
.postContainer{
    display:flex;
}

.navClass {
    background-color:#1e1d1f;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    color: #f9b306;
    font-size:29px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-family: 'Garamond', sans-serif;
    z-index:1000;
}
.backgroundBlack{
    background-color: #1e1d1f;
}
.commentsHold {
    display:flex;
    width:100%;
}
.goldButton {
    background-color: #dc8008;
    display: flex;
    margin: 4px;
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
    z-index: 500;
    min-height: 50px;
    min-width: 160px;
    align-items: center;
    justify-content: center;
}
.goldButtonBig {
    background-color: #dc8008;
    display: flex;
    margin: 4px;
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    z-index: 500;
    min-height: 50px;
    max-height:50px;
    min-width: 230px;
    max-width:230px;
    align-items: center;
    justify-content: center;
}
.displayFlexIndex {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top:8px;
    margin-bottom:8px;
    /*background-color: rgba(252, 220, 180, 0.8);*/
    /*border-radius: 5px;*/

}
.imageHoldIndexPage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 55%;
    justify-content: center;
    flex-direction: row-reverse;
}
.textBoxColor1 {
    background-color: #90683b;
    padding: 30px;
    opacity: 0.9;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.holdMiddleIndex {
    width:95%;
    display:flex;
    height:100%;
    margin-top:5px;
    margin-bottom:5px;
}
.holdMiddleIndex1 {
    width:95%;
    display:flex;
    height:100%;
}
.imagePost {
    height:90%;
}
.textBoxColor1 h2{
    color: #f9b306;
}
.textBoxColor1 p{
    color: rgba(255, 255, 255, var(--text-opacity));
}
.imageNav{
    height:140%;
}
.leftNav {
    display:flex;
}
.navButton {
    margin-left:8px;
    margin-right:8px;
}

.userSection{
    margin-left:10px;
    display:flex;
}

.postContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.buttonsBottom {
    display:flex;
}
.comment{
    padding-top:5px;
    padding-bottom:5px;
    margin:3px;
}
.postHolder {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.commentButton {
   width:106px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.commentsSection {
    display: flex;
    flex-direction: row-reverse;
}
.commentRight{
    width:70%;
}
.commentLeft{
    width:30%;
}
